<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>FAQ</title>
</head>
<body>

    <div class="navbar">
        <a href="{{ url_for('about') }}"><img src="{{ url_for('static', filename='logo.png') }}" alt="Anti-ATS Logo"></a>
        <div class="navbar-links">
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('howitworks') }}">How it works</a>
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </div>

    <div class="footer">
        <p>&copy; 2025 Anti-ATS. All rights reserved.</p>
    </div>

</body>
</html>