<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Anti-ATS Logo">
        <div class="navbar-links">
            <a href="{{ url_for('faq') }}">FAQs</a>
            <a href=" {{ url_for('about') }}">About</a>
            <a href="{{ url_for('howitworks') }}">How it works</a>
            <a href="{{ url_for('login') }}">Login</a>
        </div>
    </div>

    <div class="login-container">
        <h2>Register</h2>
        <form method="POST" action="{{ url_for('register') }}">
            <input type="text" name="email" placeholder="email" required><br>
            <input type="text" name="username" placeholder="username" required><br>
            <input type="password" name="password" placeholder="password" required><br>
            <input type="password" name="confirmed_password" placeholder="Confirmed Password" required><br>
            <button type="submit">Register</button>
        </form>
        <div class="google-container">
            <img src="{{ url_for('static', filename='google.jpeg') }}" alt="google logo">
            <h2>Register with Google</h2>
        </div>
    </div>
</body>
</html>
