<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{{ username }}'s Results</title>
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Anti-ATS Logo">
        <div class="navbar-links">
            <a href="{{ url_for('faq') }}">FAQs</a>
            <a href="{{ url_for('about') }}">About</a>
            <a href="{{ url_for('howitworks') }}">How it works</a>
        </div>
    </div>

    {% if files %}
        <ul>
            {% for file in files %}
                <li>{{ file }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No resume submissions yet. Give our product a try!</p>
    {% endif %}
</body>
</html>